{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}

{#......................................CABEZERA.....................................................................#}

{% include 'cliente/nav.html.twig' %}

{% include 'cliente/cuerpo.html.twig' %}

{#####################################################################################}


  {# <div id="rutas">
    <div id="rutas-container">
  </div> #}


{# <div id="cuerpo-container">
    {% include 'cliente/cuerpo.html.twig' %}
</div>

<div id="reservas-container">
    {% include 'cliente/reservas.html.twig' %}
</div> #}


{% endblock %}