{% extends 'base.html.twig' %}

{% block title %}Reservas{% endblock %}

{% block body %}

{########....CABEZERA...###########}

{% include 'cliente/nav.html.twig' %}
{######################################}

<h1> MIS RESERVAS </H1> 

{% endblock %}