 .classHome{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.bienvenida {
    /* background-color: #f5f5f5; */
    padding: 20px;
    /* border-radius: 30px; */
    /* box-shadow: 0px 0px 10px #9e9d9d; */
    /* background-image: linear-gradient( #ffffff, #000000); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

.bienvenida h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 80px;
}


/* .redesSociales {
    /* margin-right: 40px;
    font-size: 20px; */

/* 


    /* .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    } */


.imageHeader {
   background-image: linear-gradient(45deg, black, transparent);
  background-repeat: no-repeat;
  background-size: cover;
}

.margen {
  margin-top: 1px;
  margin-bottom: 1%;
}



.cliente {
margin-top: 50px;
height: 900px;
background-image: url(img/city.jpg);
background-repeat: no-repeat;
background-size: cover;

}


.login {
  background-image: linear-gradient(to top, #ffffff, #000000);
}

/* */

    /* margin-top: 50px; */
   